[Desktop Entry]
Name=Popout3D
Version=1.5.2
Exec=/usr/bin/popout3d
Comment=A 3D image creator.
Icon=/usr/share/popout3d/popout3d.png
Type=Application
Terminal=false
StartupNotify=true
Categories=Graphics

