
Source: popout3d
Priority: optional
Maintainer: Chris Rogers <popout.apps@yahoo.com>
Homepage: https://github.com/PopoutApps/popout3d
Build-Depends: debhelper (>= 10.0.0), dh-python, python3-all, python-setuptools
Standards-Version: 4.3.0
XS-Python-Version: 3.7
Section: graphics

Package: popout3d
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, hugin-tools, gtk3
Description: Creates 3D images from photographs taken with an ordinary camera.
 Take a set of photos of a subject and the software will create a 3D image from
 each pair of photos in the set, so that you can choose the best. Vertical and
 rotational alignment of the left and right images is essential for a convincing
 3D effect, but difficult to achieve with an ordinary camera. The software
 corrects any misalignment. Formats available are anaglyph (red/cyan),
 side-by-side and crossover. Several sets of photos can be processed at once,
 they can be previewed and poor ones can be deleted.
